<p><%= @temp %>j</p>

<button id="transcribe" value="off">Start Transcription</button>
<p id="recording-instructions">Status</p>
<p id="note-textarea">Start here: </p>

<script type="text/javascript">
  $( document ).ready(function() {
    alert( "ready!" );
  });

  var instructions = document.getElementById("recording-instructions")
  var noteTextarea = document.getElementById("note-textarea")
  var noteContent = '';

  var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
  var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;
  var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent;

  var transcribeButton = document.getElementById("transcribe")
  var transcribeButtonStatus = transcribeButton.value


  var grammar = '#JSGF V1.0; grammar words; public <word> = Good | morning | everybody | We’re | going | to | have | a | quick | meeting | today | about | some | things | we | have | to | get | done | this | week | The | first | task | is | to | figure | out | what | the | client | wants | from | George | by | Friday | Sounds | good | to | me | Great | The | second | task | is | to | determine | the | specifications | needed | to | deploy | our | test | environment | Alex | does | that | work | with | you | That | works | Awesome | Finally | the | third | task | is | to | schedule | a | time | for | a | final | round | of | user | testing | so | we | need | to | book | a | room | Sally | that | work | Sure | Thanks | for | coming | guys | Let’s | make | good | software ;'

  // transcribe
  var recognition = new SpeechRecognition();
  var speechRecognitionList = new SpeechGrammarList();
  speechRecognitionList.addFromString(grammar, 1);
  recognition.grammars = speechRecognitionList;
  recognition.lang = 'en-US';
  recognition.maxAlternatives = 0;
  recognition.continuous = true;
  // If false, the recording will stop after a few seconds of silence.
  // When true, the silence period is longer (about 15 seconds),
  // allowing us to keep recording even when the user pauses.
  recognition.continuous = true;

  // This block is called every time the Speech APi captures a line.
  recognition.onresult = function(event) {

    // event is a SpeechRecognitionEvent object.
    // It holds all the lines we have captured so far.
    // We only need the current one.
    var current = event.resultIndex;

    // Get a transcript of what was said.
    var transcript = event.results[current][0].transcript;

    // Add the current transcript to the contents of our Note.
    // There is a weird bug on mobile, where everything is repeated twice.
    // There is no official solution so far so we have to handle an edge case.
    var mobileRepeatBug = (current == 1 && transcript == event.results[0][0].transcript);

    if (!mobileRepeatBug) {
      noteContent += transcript;
      noteTextarea.textContent += noteContent;
    }
  };

  recognition.onstart = function() {
    instructions.textContent = 'Voice recognition activated. Try speaking into the microphone.';
  }

  recognition.onspeechend = function() {
    instructions.textContent = 'You were quiet for a while so voice recognition turned itself off.';
  }

  recognition.onerror = function(event) {
    if(event.error == 'no-speech') {
      instructions.textContent = 'No speech was detected. Try again.';
    };
  }

  var transcribeButton = document.getElementById("transcribe")

  alert(transcribeButton);
  alert(transcribeButtonStatus);
  transcribeButton.addEventListener("click",myFunction);
  alert(transcribeButtonStatus);


  function myFunction() {
    transcribeButtonStatus = document.getElementById("transcribe").value

    // start
    if (transcribeButtonStatus === "off") {
      alert("starting recording");

      transcribeButton.textContent = "Transcribing..."

      transcribeButton.value = "on"

      // start it
      recognition.start();
    }
    // stop
    else {
      alert("ending recording")

      recognition.stop();

      transcribeButton.textContent = "Start Transcription"

      transcribeButton.value = "off"
    }

  }

</script>
